{% load static %}

<tr>
    <td class="flex justify-between">
        {{ price_option.booking_channel }}
    </td>
    <td class="flex justify-between">
        {{ price_option.cash_price }}
    </td>
    <td class="flex justify-between">
        {{ price_option.hotel_rebates_value }}<br>
        {{ price_option.hotel_rebates }}
    </td>
    <td class="flex justify-between">
        {{ price_option.credit_card_rebates_value }}<br>
        {{ price_option.credit_card_rebates }}
    </td>
    <td class="flex justify-between">
        {{ price_option.final_price }}
    </td>
</tr>